[submodule "external/libdatachannel"]
	path = external/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "external/served"]
	path = external/served
	url = https://github.com/meltwater/served.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
