[submodule "extrenal/libdatachannel"]
	path = extrenal/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "external/libdatachannel"]
	path = external/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
